body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navclass { 
	position: fixed;
    z-index: 10;
    right: 10px;
    width: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.navclild {
    display: block;
    position: relative;
    z-index: 1;
    width: 19px;
    height: 19px;
    cursor: pointer;
    text-decoration: none;
}
.navclild::before{
    content: ' ';
    display: block;
    height: 5px;
    width: 5px;
    border: 0;
    background-color: rgba(50,50,50,0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    transition: all 0.2s;
}
.navclild.active::before{
    r-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 12px;
    width: 12px;
    border: 0;
    background-color: rgba(50,50,50,0.4);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.navclild:hover::before{
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
@media (max-width:767px)  {
    .navclass{
        right: -10px;
    }
}

/*header 部份*/
.header{
    width: 100%;
    z-index: 10;
    height: 50px;
    position: fixed;
    background-color: rgba(51,53,52);
}
.header>.headerbody{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.header>.headerbody>.navbar{
    float: right;
}
ul,li{
    list-style-type: none;
}
.header>.headerbody>.navbar>ul>li{
    display: inline-block;
    height: 45px;
    color: #F8F8F8;
    font-size: 0.97rem;
    margin:0px 1px;
    padding:0px 5;
}